{{>layout/login_header}}

<form class="login">
    <span style="text-align: center; font-size: 30px; color: white;">로그인</span>
    <span>Username</span>
    <input type="text" placeholder="Username">
    <span>Password</span>
    <input type="password" placeholder="Password">
    <p>
        <label>
            <input type="checkbox"> 로그인 상태 유지
        </label>
        <a href="#none" class="btn-forgot">비밀번호 찾기</a>
    </p>
    <button>로그인</button>
    <button>회원가입</button>
</form>

{{>layout/login_footer}}