{{>layout/login_header}}

<form class="login">
    <span style="text-align: center; font-size: 30px; color: white;">회원가입을 진행해주세요!</span>
    <span>Username</span>
    <input type="text" placeholder="Username">
    <span>Password</span>
    <input type="password" placeholder="비밀번호 설정">
    <span>Password Check</span>
    <input type="password" placeholder="비밀번호를 다시 입력해주세요">
    <span>Name</span>
    <input type="text" placeholder="이름을 입력해주세요">
    <button type="button" class="signUpB">회원가입</button>
</form>

{{>layout/login_footer}}